<h1 align="center">WELCOME</h1>
<h2 align="center"><a href='/league_manager'>League Manager</a> || <a href='/team_captain'>Team Captain</a></h2>

<% @teams.each() do |team| %>
<li><a href="/teams<%= team.id() %>"><%= team.name %> </a></li>
  <% end %>
